<div id="contact-container" class="col-sm-offset-4 col-md-offset-4 col-md-4 col-sm-4 col-xs-12">
	<form methd="post">
		<h2 class="text-center">Nous contacter</h2>
		<br><br>
	  <fieldset class="form-group">
	    <label for="formGroupExampleInput">Email</label>
	    <input type="text" class="form-control" name="contact-email" id="contact-email" placeholder="Votre email">
	  </fieldset>
	  <fieldset class="form-group">
	    <label for="formGroupExampleInput2">Message</label>
	    <textarea class="form-control" name="contact-content" id="contact-content"></textarea>
	  </fieldset>
	  <button type="submit" class="btn-miramap">Envoyer</button>
	</form>
</div>